<div class='login' id='login-usertype' style='display:none'>
	<div id='head'>
		<!--<img src='/img/ian.jpg' class='circle'>-->
		<h1> Hi <%= user.first_name %></h1>
		<h2>We need a little bit of info about you to set things up correctly</h2>
	</div>
	<div id='choices'>
		<ul id='usertype'>
			<li id='t1d'>I have T1D</li>
			<!--todo: comment for now<li id='surrogate'>Im standing in for someone who has T1D<br><span class='detail'>eg. a child</span></li>-->

			<% if (!groups.length) { %>
				<li id='no'>
					Im a team member
					<br><span class='detail'>eg. Dr.’s, Nurses, uncles, siblings, friends</span><br><br>
					<p class='error'>Looks like you haven’t been invited to any teams. If you want to be, youll need your patient to add you in their facebook group.</p>
				</li>
			<% } else if (groups.length === 1) { %>
				<li id='team-member'>
					<div id='one'>
						<div class='title'>You have been invited to <%= groups[0].patient.first_name %>'s team.</div>
						<ul id='invites'>
							<li>
								<div class='circular'><img src='<%= groups[0].patient.picture %>'></div>
								<div class='name'><%= groups[0].patient.first_name + ' ' + groups[0].patient.last_name %></div>
								<div class='clear'></div>
							</li>
						</ul>
					</div>
					<div style='display:none' id='many'></div>
				</li>
			<% } else { %>
			<li id='team-member'>
				<div id='one'>
					<div class='title'>You have been invited to the following teams:</div>
					<ul id='invites'>
						<% for(var i in groups) {
							var group = groups[i]; %>
						<li>
							<div class='circular'><img src='<%= group.patient.picture %>'></div>
							<div class='name'><%= group.patient.first_name + ' ' + group.patient.last_name %></div>
							<div class='clear'></div>
						</li>
						<% } %>
					</ul>
				</div>
			</li>
			<% } %>
		</ul>
	</div>
</div>